<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Content Page</Name>
    <Alias>ContentPage</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Basic editable content page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>ContentPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>ContentPage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab></Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Main content]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>13</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>7e37cdaabd8e45d9f1a38419920b53ba</Hash>
</DocumentType>